#portfolio {
  font-family: Inter, sans-serif;
  font-weight: 400;
  text-align: center;
}

.top__text,
.projects__title {
  font-family: Spectral, serif;
}

.projects__title {
  font-size: clamp(2.125rem, 1.719rem + 2.167vw, 3.75rem);
}

.projects__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: clamp(0.625rem, 0.524rem + 0.806vw, 1.25rem);
}

#cards__container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: clamp(0.625rem, -0.232rem + 6.855vw, 5.938rem);
  min-width: clamp(15.625rem, 0rem + 100vw, 93.75rem);
  height: 90vh;
  perspective: 1500px;
}

.card__container {
  position: relative;
  margin: 0 auto;
  width: clamp(15rem, 12.883rem + 16.935vw, 28.125rem);
  height: 100%;
  max-height: clamp(31.25rem, 27.699rem + 22.727vw, 50rem);
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  cursor: pointer;
}

.front__card,
.back__card {
  backface-visibility: hidden;
  position: absolute;
  color: var(--color-text);
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  box-shadow: 4px 4px 10px var(--color-text);
  border-radius: 10px;
  background-image: url('/public/assets/images/english.png');
  background-size: clamp(15rem, 12.883rem + 16.935vw, 28.125rem)
    clamp(31.25rem, 27.699rem + 22.727vw, 50rem);
  background-position: center;
}

.front__card {
  width: 100%;
  height: 100%;
}

.back__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  padding: clamp(0.938rem, 0.811rem + 1.689vw, 2.5rem);
  background: var(--color-text);
  color: var(--color-bg);
}

.card__container:nth-child(2) .front__card {
  background-image: url('/public/assets/images/psychologist.png');
}

.card__container:nth-child(3) .front__card {
  background-image: url('/public/assets/images/english.png');
}

.top__text {
  font-size: clamp(0.9rem, 0.8rem + 0.64vw, 1.4rem);
  margin: 0;
}

.back__card p,
.projects__btn {
  font-size: clamp(0.7rem, 0.62rem + 0.512vw, 1.1rem);
}

.projects__btn {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 600;
  text-align: center;
  background-color: var(--color-bg);
  padding: 1.2rem;
  border-radius: 10px;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  white-space: nowrap;
  width: 17rem;
}

.projects__btn:hover {
  background-color: #333;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
}

.projects__instruction {
  text-align: center;
  padding-top: 20px;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 2px;
}

@media screen and (width <=1600px) {
  #cards__container {
    height: 190vh;
    max-width: clamp(12.5rem, -2.888rem + 98.485vw, 93.75rem);
  }
}

@media screen and (width <=1280px) {
  #cards__container {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    height: clamp(93.75rem, 88.254rem + 73.276vw, 146.875rem);
    width: clamp(12.5rem, 8.621rem + 51.724vw, 50rem);
  }

  .card__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back__card {
    max-height: 660px;
  }
}

@media screen and (width <=500px) {
  #cards__container {
    height: 1640px;
    max-height: 2000px;
  }

  .back__card {
    height: 470px;
    width: clamp(14.375rem, 12.565rem + 13.793vw, 16.875rem);
  }

  .card__container:last-child .back__card {
    margin-bottom: 0;
  }

  .projects__btn {
    text-transform: uppercase;
    width: 7.5rem;
    padding: clamp(0.5rem, 0.437rem + 0.842vw, 0.7rem);
  }
}
