:root {
  --color-light: #eee7e1;
  --color-dark: #1a1818;
  --color-grey: #ccc;
  --color-text: var(--color-dark);
  --color-bg: var(--color-light);
  --color-border: var(--color-grey);
}

html.is-dark-theme {
  --color-text: var(--color-light);
  --color-bg: var(--color-dark);
  --color-border: var(--color-light);
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  border-color: var(--color-grey);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper__tp {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  border-bottom: 2px solid #ccc;
  top: 0;
}

.header__box--logo {
  display: flex;
  align-items: center;
}

.header__box--logo img {
  margin: 0;
}

.header__logo {
  width: 4rem;
  height: auto;
  margin-right: 1rem;
  border-radius: 50%;
  border: 2px solid;
  transition: transform 0.3s ease;
}

.header__logo:hover {
  transform: scale(1.1);
}

.header__nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.header__nav li {
  font-size: 1.1rem;
  font-weight: 500;
}

.header__nav a {
  text-decoration: none;
  color: var(--color-text);
  padding: 0.5rem;
  border-radius: 5px;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.header__nav a:hover {
  background-color: rgb(220 220 220 / 58%);
  transform: translateY(-2px);
}

.promo {
  display: flex;
  position: relative;
  justify-content: space-around;
  gap: 5rem;
  align-items: center;
  margin-top: 5rem;
  width: 100%;
}

.promo__offer {
  position: relative;
  padding-left: 3rem;
}

.promo__offer--lable {
  margin-bottom: 0.2rem;
  font-size: 1.563rem;
}

.promo__offer--title h1 {
  font-size: 5.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
  line-height: 1.2;
}

.promo__offer--btns {
  display: flex;
  gap: 1rem;
}

.offer__btn--achievements,
.offer__btn--switch {
  text-decoration: none;
  color: var(--color-bg);
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
  background-color: var(--color-text);
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
}

.offer__btn--achievements:hover,
.offer__btn--switch:hover {
  background-color: #333;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  cursor: auto;
}

.promo__content {
  position: relative;
  font-size: 35px;
  line-height: 1.6;
  width: 25rem;
  height: 12.5rem;
  text-align: left;
  overflow: hidden;
}

.header__box--date {
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 4px;
  border: solid 0.5px;
  border-radius: 5px;
  padding: 0.25rem 0.938rem;
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  margin: 0 0 0 1rem;
}

#current-time {
  margin: 0.313rem;
}

.video-container {
  width: 28.125rem;
  height: 37.5rem;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0/ 20%);
  padding: 0 4rem 0 2rem;
}

video {
  width: 100%; /* Растягивает видео на всю ширину */
  height: 100%; /* Растягивает видео на всю высоту */
  object-fit: cover; /* Обрезка видео внутри контейнера */
  border-radius: 20px;
}

.achievements {
  padding: 4rem 2rem;
  background-color: var(--color-bg);
  text-align: center;
}

.achievements__title {
  font-size: 2rem;
  font-weight: bold;
  font-family: Spectral, serif;
  margin-bottom: 2rem;
  color: var(--color-text);
}

.achievements__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.achievement-card {
  background: #fff;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
  padding: 1.5rem;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.achievement-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgb(0 0 0 / 20%);
}

.achievement-card__title {
  color: #1a1818;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.achievement-card__description {
  font-size: 1rem;
  color: #555;
}

.achievement-card__date {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--color-grey);
}

.burger-menu {
  display: none;
}

@media (width <= 1010px) {
  .header__box--date {
    font-size: 1rem;
    text-align: center;
  }

  .promo__offer--title h1 {
    font-size: 4.5rem;
  }
}

@media (width <= 950px) {
  .promo {
    flex-direction: column;
    margin-top: 6rem;
  }

  .promo__offer--lable {
    font-weight: 500;
    font-size: 1.875rem;
    text-transform: uppercase;
    margin: 0 2rem 3rem 0;
    text-align: center;
    border: 1px solid var(--color-grey);
    border-radius: 10px;
    padding: 1rem;
    font-family: Spectral, serif;
  }

  .promo__offer--title h1 {
    font-size: 2.2rem;
    font-weight: 400;
    margin: 1rem 0;
    font-family: Spectral, serif;
  }

  .promo__content {
    font-size: 1.563rem;
    width: 31.25rem;
    height: auto;
    margin-bottom: 2rem;
  }

  .video-container {
    box-shadow: 0 4px 10px rgba(0, 0, 0/ 20%);
    padding: 1rem 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

@media (width <= 800px) {
  .header__box--date {
    margin: 0;
  }

  .promo {
    flex-direction: column-reverse;
  }

  .promo__offer {
    padding: 0;
    margin: 0;
  }

  .promo__offer--lable {
    margin: 0 0 2rem;
    font-family: Spectral, serif;
  }

  .promo__offer--title {
    display: none;
  }

  .promo__content {
    margin: 0 0 3rem 2rem;
  }

  .promo__offer--btns {
    margin: 0 0 0 2rem;
  }

  .header__nav {
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 3.75rem;
    right: 0;
    box-shadow: 0 4px 15px var(--color-grey);
    width: 100%;
    padding: 1rem;
  }

  .header__nav.open {
    display: flex;
    margin-top: 3.125rem;
    margin-bottom: 1rem;
  }

  /* Стили для бургер-меню */
  .burger-menu {
    display: block;
    cursor: pointer;
  }

  .burger-menu div {
    width: 1.875rem;
    height: 0.25rem;
    background-color: var(--color-text);
    margin: 0.313rem 0;
    transition: 0.3s;
  }

  /* Анимация для бургер-меню */
  .burger-menu.open div:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 0.563rem;
  }

  .burger-menu.open div:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.open div:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -0.563rem;
  }
}
